@charset "UTF-8";

*{
    padding-left: 0px;
    margin: 3px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/*
    cores principais:
        #1E1E1E = preto(dock)
        #ae4444 = vermelho(dock superior)
        #191919 = preto(footer)
    tam: 
        390width
        844height
*/

body{
    background-color: white;
}

header{
    background-color: black;
}

nav{
    background-color: #ae4444;       
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.509);
    padding: 13px;
}

div{
    margin: 20px;
}

#itens{
    display: none;
    margin: -20px;
}

li{
    padding-top: 30px;
    padding-left: 45px;
    padding-bottom: 10px;
}

li#ultimo{
    padding-bottom: 40px;
}

a{
    display: inline;
    text-decoration-line: none;
    color: black;
}

a:hover{
    background-color: antiquewhite;
}

main{

}

article{

}

h2{
    padding: 40px 40px;
}

h3{
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 40px;
    text-align: left;
}

p{
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    text-indent: 20px;
    text-align: justify;
}

footer{

}

