@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/*
    cores principais:
        #1E1E1E = preto(dock)
        #191919 = preto(footer)

    tam: 
        390width
        844height
*/

body{
    background-color: white;
}

header{
    background: url(../imagens/logo_pequena.png) no-repeat center left;
    padding: 20px;
}

header > h2{
    padding-bottom: 20px;
    color: black;
}

#primeiro_texto{
    padding: 20px;
}
nav{
    background-color: #b4afaf;       
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.509);
}

nav:hover{

}
span{
    padding: 10px;
    padding-left: 30px;
}

ul{
    display: none;

}

li{
    padding: 10px;
    text-decoration: none;
    padding-left: 58px;
}

li:hover{
    background-color: aliceblue;
}

a{
    text-decoration-line: none;
    color: black;
}

span{
    cursor: pointer;
}

iframe{
    padding-left: 20px;
}

p{
    text-align: justify;
    text-indent: 30px;
    padding: 20px;
    width: 330px;
}
article{

}
